@charset "utf-8";
@import url(//at.alicdn.com/t/font_996014_fgcldafdfir.css);

.level0 {
  color: #5eb95e;
}
.level1 {
  color: #dd514c;
}
.level2 {
  color: #f37b1d;
}
.level3 {
  color: #ffd700;
}
.level4 {
  color: #3bb4f2;
}

.level0-bg {
  background-color: #5eb95e;
}
.level1-bg {
  background-color: #dd514c;
}
.level2-bg {
  background-color: #f37b1d;
}
.level3-bg {
  background-color: #ffd700;
}
.level4-bg {
  background-color: #3bb4f2;
}

.state0 {
  color: #5eb95e;
}
.state1 {
  color: #dd514c;
}
.state2 {
  color: #f37b1d;
}
.state3 {
  color: #ffd700;
}
.state4 {
  color: #3bb4f2;
}
.state5 {
  color: #4169e1;
}
.state6 {
  color: #d3d3d3;
}
.state7 {
  color: #0000ff;
}

.state0-bg {
  background-color: #5eb95e;
}
.state1-bg {
  background-color: #dd514c;
}
.state2-bg {
  background-color: #f37b1d;
}
.state3-bg {
  background-color: #ffd700;
}
.state4-bg {
  background-color: #3bb4f2;
}
.state5-bg {
  background-color: #4169e1;
}
.state6-bg {
  background-color: #d3d3d3;
}
.state7-bg {
  background-color: #0000ff;
}

.primary-icon {
  color: #39a4ff;
}

.success-icon {
  color: #52c41a;
}

.danger-icon {
  color: #f9342a;
}

.warning-icon {
  color: #ff9236;
}

.default-icon {
  color: #fff;
}

header.bui-bar {
  background: url("../images/background.png") no-repeat;
}

.app-main-tab > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.short-nav {
  background-color: #ffffff;
  padding: 0.1rem;
}
.short-nav > .bui-nav.bui-fluid {
  border: none;
}
.short-nav .bui-btn > i {
  color: #ffffff;
  height: 1rem;
  width: 1rem;
  border-radius: 0.1rem;
  line-height: 1rem;
  margin: 0.2rem auto;
  font-size: 0.65rem;
}
.short-nav .bui-box-vertical > [class*="span"] {
  font-size: 0.2rem;
  color: #666666;
  padding-bottom: 0.15rem;
}
.short-his-data {
  background-color: #dd514c;
}
.short-his-alarm {
  background-color: #af6df5;
}
.short-chart-data {
  background-color: #fe74a9;
}
.short-config-data {
  background-color: #1f6fb5;
}
.short-video-real {
  background-color: #6cc96c;
}
.short-all {
  background-color: #27aeff;
}

.overview .bui-label,
.overview .bui-value,
.overview .short-cut {
  font-size: 0.28rem;
}
.overview .icon {
  height: 0.42rem;
  line-height: 0.42rem;
}
.overview .icon i {
  font-size: 0.4rem;
}

.overlist > .bui-searchbar {
  border-bottom: 1px solid #eee;
}
.overlist .detail-list {
  border-top-width: 0;
}
.overlist .detail-list > li.bui-btn {
  padding: 0.15rem;
}
.overlist .detail-list .item-title {
  margin-bottom: 0.1rem;
  font-size: 0.3rem;
}
.overlist .detail-list .item-text {
  margin: 0;
  font-size: 0.25rem;
}
.overlist .detail-list .bui-icon i {
  font-size: 0.5rem;
}
.overlist .nomore {
  width: 100%;
  margin: 0 auto;
  background: #f3f5f8;
  color: #ccc;
  font-size: 0.25rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
}
.overlist .nodata {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  margin: 0 auto;
  color: #ccc;
  background: #f3f5f8;
  text-align: center;
}
.overlist .nodata > i {
  font-size: 0.38rem;
  vertical-align: middle;
}
.overlist .nodata > span {
  font-size: 0.25rem;
}

.appicon-eyeclose,
.appicon-eyeopen {
  font-family: "appiconfont" !important;
  font-size: 0.3rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.onfocus {
  border-color: #4ba6e6 !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.onfocus > .bui-label > i {
  color: #4ba6e6;
}

ul.report-form > li {
  margin: 0.3rem 0.2rem;
  border-radius: 0.1rem;
}

ul.report-form > li > .v-menu {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.27rem;
  color: #666;
}

ul.report-form .selected-val {
  margin-right: 0.1rem;
}

.report-submit {
  padding-top: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.bui-hint {
  font-size: 0.25rem;
}

.bui-hint i {
  display: block;
}

.bui-dialog .bui-dialog-head,
.bui-dialog .bui-dialog-main {
  font-size: 0.27rem;
}

.bui-dialog-select > .bui-dialog-head {
  border-bottom: 1px solid #eee;
  background: #f3f5f8;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input::-moz-input-placeholder {
  color: #adadad;
}
input::-ms-input-placeholder {
  color: #adadad;
}
